<div class="container header">
    <nav>
        <a class="brand" href="{{ $.Site.BaseURL }}">
        {{ if $.Site.Params.Navbar.Logo }}
            <img src="{{ $.Site.Params.Navbar.Logo }}"
                 alt="{{ $.Site.Params.Navbar.Title }}">
        {{ else }}
                {{ $.Site.Params.Navbar.Title }}
        {{ end }}
        </a>

        <button class="navbar-toggler nav-link navbar-toggler-right align-middle" type="button"
                data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="far fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <div class="navbar-nav">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <a class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"
                {{ if .Pre }}
                   target="{{ .Pre }}"
                {{ end }}
                   href="{{ .URL | absLangURL }}">
                {{ .Name }}
                </a>
            {{ end }}

            {{ partial "components/i18n-switch" . }}
            </div>
        </div>
    </nav>
</div>
