<div class="links">
{{ with .twitter }}
    <div class="link">
        <a href="{{ . }}"
           target="_blank"
           title="twitter">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
{{ end }}

{{ with .github }}
    <div class="link">
        <a href="{{ . }}"
           target="_blank"
           title="github">
            <i class="fab fa-github"></i>
        </a>
    </div>
{{ end }}

{{ with .blog }}
    <div class="link">
        <a href="{{ . }}"
           target="_blank"
           title="blog">
            <i class="far fa-rss"></i>
        </a>
    </div>
{{ end }}

{{ with .linkedin }}
    <div class="link">
        <a href="{{ . }}"
           target="_blank"
           title="linkedin">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
{{ end }}

{{ with .angellist }}
    <div class="link">
        <a href="{{ . }}"
           target="_blank"
           title="angel">
            <i class="fab fa-angellist"></i>
        </a>
    </div>
{{ end }}

{{ with .facebook }}
    <div class="link">
        <a href="{{ . }}"
           target="_blank"
           title="facebook">
            <i class="fab fa-facebook"></i>
        </a>
    </div>
{{ end }}

{{ with .instagram }}
    <div class="link">
        <a href="{{ . }}"
           target="_blank"
           title="instagram">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
{{ end }}


</div>
