{{ define "main" }}
<div class="single">
{{ partial "blocks" . }}

{{ with .Params.cover }}
    <div class="cover"
         style="background-image: url('{{ . | absURL }}');"
    ></div>
{{ end }}

    <section class="main">
    {{ partial "categories" . }}

        <h1>{{ .Title }}</h1>

    {{ .Content }}

    {{ if not ($.Param "is_standalone") }}
        {{ partial "tags" . }}
        {{ partial "pagination/single" . }}
        {{ partial "subscribe.html" . }}
    {{ end }}

        <div class="comments">
        {{ template "_internal/disqus.html" . }}
        </div>
    </section>
</div>
{{ end }}
