{{ if .Params.features }}
<div id="features" class="container">
    <h2>
        {{ .Params.featuresTitle}}
    </h2>

    <div class="card-columns">
        {{ $features := .Params.features }}

        {{ range $i, $e := $features }}
        {{ $features_count := $e | len }}
        <div class="card {{ if not .alwaysVisible }}d-none d-md-inline-block{{ end }}">
            <div class="card-body">
                <h3 class="card-title">{{ .heading }}</h3>
                <p class="card-text tagline">{{ .tagline }}</p>
            </div>

            {{ with .techs }}
            <div class="pictos card-footer">
                <p>
                    {{ range $j, $p := . }}
                    <span class="badge badge-pill badge-primary">
                        {{ $p }}
                    </span>
                    {{ end }}
                </p>
            </div>
            {{ end }}

        </div>
        {{ end }}
    </div>
    {{ end }}
</div>
