// Custom Colors
// =============

$balanced-white: #FBFCFD;
$light-white: #F4EFE7;
$main-red: #B5170D;
$stable-grey: #353535;
$relax-blue: #3C6E71;
$highlight-violet: #331E36;

$heavy-purple: #140D22;
$discrete-purple: #211734;
$vibrant-purple: #8B5AE3;
$heavy-yellow: #F1B61A;
$warm-yellow: #F1B61A;

$body-bg: $light-white;
$body-color: $stable-grey;
$primary: $main-red;

$color-behind: $stable-grey;

$font-family-base: 'Vollkorn', serif;
$headings-font-family: 'Vollkorn', serif;

$font-family-base: 'Quicksand', sans-serif;
$headings-font-family: 'EB Garamond', serif;

// Required
// ========
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Optional
// ========
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/grid";
@import "bootstrap/buttons";
@import "bootstrap/jumbotron";
@import "bootstrap/card";
@import "bootstrap/forms";
@import "bootstrap/badge";
@import "bootstrap/alert";
@import "bootstrap/_buttons.scss";
@import "bootstrap/utilities/flex";
@import "bootstrap/utilities/text";
@import "bootstrap/utilities/spacing";
@import "bootstrap/utilities/display";
@import "bootstrap/_nav.scss";
@import "bootstrap/_navbar.scss";
@import "bootstrap/utilities/_background.scss";

// Are you missing a component import? uncomment:
// TODO: broken navbar, miss an import
// @import "bootstrap/bootstrap";

// Custom Design
// =============
html {
}

body {
  scroll-behavior: smooth;
}

.bg-behind {
  background-color: $color-behind;
  color: lighten($color-behind, 20%);

  a {
    color: lighten($color-behind, 20%);
  }
}

.benefits {
  margin-top: 2rem;
}

.cta-card {
  margin-top: 2rem;
}

.footer {
  @extend .jumbotron;
  @extend .jumbotron-fluid;
  @extend .text-center;
  @extend .bg-behind;

  margin-bottom: 0;
  margin-top: 2rem;
}

.btn-cta {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-primary;
}
